html, body {
    margin: 0;
    padding: 0;
    cursor: none;
    background-color: #9B8D79;
   
  }
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }
  .nav-wrapper {
    width: 100%;
    height: 100vh;
    background: #9B8D79;
  }
  
  nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 45%;
  }
  
  .hover-this {
    transition: all 0.3s ease;
    filter: blur(10px);
  }
  
  span {
    display: inline-block;
    font-family: FOT-TsukuAOldMin Pr6N L;
    font-weight: 400;
    color: #1f1e20;

    font-size: 150px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
  }
  .hover-this:hover{
  
    color: #1f1e20; 
    filter: blur(0px);
   
  }
  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #3d3d41;
    border-radius: 50%;
    mix-blend-mode: overlay;
    transition: transform 0.3s ease;
  }
  
  .hover-this:hover ~ .cursor {
    transform:translate(-50%, -50%) scale(60);
    filter: blur(1px);
  }
  
  @media(min-width: 900px) {
    nav {
      display: flex;
      justify-content: space-around;
    }
  }
  
  @media(max-width: 900px) {
    nav {
      top: 30%;
    }
    
    .hover-this {
      width: 100%;
      padding: 20px 0;
      display: inline-block;
    }
  }