* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
.para1{
    position: relative;
    top: 25vh;
    left: 40vh;
    line-height: 1.5;
    width: 400px;
}
.para2{
    position: relative;
    top: 30vh;
    left: 60vh;
    line-height: 1.5;
    width: 400px;
}
p{
  font-family:monospace;
  font-size: 15px;
  filter: blur(10px);
  color: #33302B;
 
}
p:hover{
  font-family: monospace;
  font-size: 15px;
  filter: blur(0px);
  color: #161514;
 
}

body {
	height: 100vh;
    width: 100vh;
	background: #9B8D79;
	overflow: hidden;
}


.back{
    position: fixed;
    left: 5%;
    top: 50%;
    font-family:monospace;
    line-height: 1.1;
    font-weight: 400;
    color:#2e2e2e;
    filter: blur(1px);
    font-size: 20px;  
    z-index: 99; 
        }
  
  .back:hover{
    position: fixed;
    left: 5%;
    top: 50%;
    font-family:monospace;
    line-height: 1.1;
    font-weight: 400;
    color: #2e2e2e;
    font-size: 20px;
    z-index: 99;    
        }
  
  .next{
    position: fixed;
    left:95%;
    top: 50%;
    font-family:monospace;
    line-height: 1.1;
    font-weight: 400;
    color:#2e2e2e;
    filter: blur(1px);
    font-size: 20px;  
    z-index: 99;  
  }
  .next:hover{
          position: fixed;
          left:95%;
          top: 50%;
          font-family:monospace;
          line-height: 1.1;
          font-weight: 400;
          color: #2e2e2e;
          font-size: 20px; 
          z-index: 99;   
              }